body {
  margin: 0;
  padding: 0;
}
section {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.container {
  display: flex;
  width: 100%;
  margin-left: 0;
}
.logo {
  width: 60%;
  margin-left: 0;
}

.btn1 {
  text-decoration: none;
  color: grey;
  padding: 15px;
  cursor: pointer;
}
.box {
  width: 65%;
  margin-left: 0;
}
.img {
  width: 100%;
  margin-left: 0;
}
.box2 {
  display: flex;
}
.minbox1 {
  width: 35%;
  font-weight: 900;
  font-size: 50px;
  padding: 20px;
  padding-left: 0;
  line-height: 0.9;
}
.minbox2 {
  width: 35%;
  text-align: justify;
  opacity: 0.6;
  padding: 20px;
  padding-left: 60px;
}
.btn2 {
  text-decoration: none;
  color: white;
  background-color: hsl(5, 85%, 63%);
  padding: 20px;
}
.container2 {
  display: flex;
}
.box3 {
  width: 27%;
  background-color: hsl(240, 100%, 5%);
  margin-left: 3%;
  padding: 15px;
}
.text1 {
  color: hsl(35, 77%, 62%);
  font-size: 50px;
  font-weight: 900;
}
.text2 {
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.text3 {
  color: white;
  opacity: 0.6;
}
.line {
  width: 100%;
  opacity: 0.6;
  color: white;
}
.img3 {
  width: 80%;
}
